.input_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player_wrapper {
  margin: auto;
  width: 75%;
}

.skeleton {
  height: 600;
  width: 1080;
}