.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.url-input {
    color: white;
}

.youtube-player {
    height: 390;
    width: 400;
    background-color: blue;
}